<launch>
    <arg name="mav_name" default="firefly"/>
    <group ns="$(arg mav_name)">
        <node name="hovering_example" pkg="rotors_gazebo" type="hovering_example" output="screen"/>
        <node name="waypoint_publisher_file" pkg="rotors_gazebo" type="waypoint_publisher_file" output="screen" args="$(find rotors_gazebo)/resource/example_waypoints.txt"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>
</launch>